@model IEnumerable<LibraryWebApplication.Countries>
@using System.Security.Claims

@{
    ViewData["Title"] = "Index";
}

<h1>Країни</h1>

@{
    var roles = ((ClaimsIdentity)User.Identity).Claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value);
}
@if (roles.Contains("admin"))
{
    <p>
        <a asp-action="Create">Додати країну</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    @if (roles.Contains("admin"))
                     {
                        <a asp-action="Edit" asp-route-id="@item.Id">| Edit |</a>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                     }
                </td>
            </tr>
        }
    </tbody>
</table>



